@charset "UTF-8";

:root {
    --cor-primaria:  #022859;
    --cor-secundaria: #0A4DA6;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



body {
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    max-width: 1400px;
    margin: 0 auto;
    color: white;
    
    
}

/*header*/

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color:  blue;
    font-size: 2.5rem;
    text-shadow:  1px 0px 2px rgba(0, 0, 0, 0.446);
    white-space: nowrap;

}

header span {
    color:  var(--cor-primaria);
}

header .navegacao-primaria {
    display: flex;
    gap: 10px;
    align-items: center; 
    white-space: nowrap;    /*evita que o texto quebra*/

}


header .navegacao-primaria li a {
    padding: 10px;
    color: var(--cor-primaria);
    font-size: 1.3rem;
    font-weight: bold;

}

header .navegacao-primaria li a:hover {
    color: blue;  
}


.menu {
    display: none;
    cursor: pointer;
}
/*seção home*/

section#bordao  {
    display: flex;
    white-space: nowrap;                            
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 60px 60px;                            /*shortham*/
    text-shadow:  3px 0px 3px black;
    flex: 1;
    margin-right: 20px;
    font-size: 2.5rem;
}



section#bordao img {
    max-width: 50%;
    height: auto;
    
}

section#bordao p {
    font-weight: 200;
    
}

/*seção sobre*/

section#sobre {
    background-color: white;
    color: black;
    width: auto;
    margin: auto;
    padding: 20px;
}

section#sobre h2 {
    text-align: center;
    padding: 10px;
}

section#sobre div {
    background-color: white;
    padding: 50px;
    margin: auto;
    max-width: 800px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.326);
}

/*minhas midia query*/

@media (max-width: 768px) {
    body {
        overflow-x: hidden; /* Evita a rolagem horizontal */
    }

    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5rem;
        padding-right: 50%;
    }

    header .navegacao-primaria {
        display: none;  /* Esconde o menu de navegação principal */
        white-space: nowrap;
    }


    section#bordao {
        flex-direction: column;
        text-align: center;
        padding: 60px 0px 60px 0px;
    }
    
    section#bordao div {
        font-size: 1.5rem;
    }

    section#bordao p {
        padding: 5px;
        border-radius: 5px;
        
    }
   
    section#bordao img {
        display: none;
    }
    
    section#sobre div {
        padding: 20px;
       
    }

    header .navegacao-secundaria {
        display: none;           /* Esconde os links secundários */
    }
}

    /*midia query 900px*/

@media (max-width: 900px) {
    header h1 {
        font-size: 1.5rem;
    }


    section#bordao {
        flex-direction: column;
        text-align: center;
        padding: 60px 0px 80px 0px;
        font-size: 2rem;
    }   

    section#bordao p {
        padding: 5px;
            border-radius: 5px;
            
    }

    section#bordao img {
        display: none;
    }
}