@charset "UTF-8";

:root {
    --cor-primaria:  #022859;
    --cor-secundaria: #0A4DA6;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



body {
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    max-width: 1400px;
    margin: 0 auto;
    color: white;
    
    
}

/*---------------------------------header*/

header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header h1 {
    color:  blue;
    font-size: 2.5rem;
    text-shadow:  1px 0px 2px rgba(0, 0, 0, 0.446);
    white-space: nowrap;
    

}

header span {
    color:  var(--cor-primaria);
}

header .navegacao-primaria {
    display: flex;
    gap: 10px;
    align-items: center; 
    white-space: nowrap;    /*evita que o texto quebra*/

}


header .navegacao-primaria li a {
    padding: 10px;
    color: var(--cor-primaria);
    font-size: 1.3rem;
    font-weight: bold;

}

header .navegacao-primaria li a:hover {
    color: blue;  
}



/*------------------------------seção home*/

section#bordao  {
    display: flex;
    white-space: nowrap;                            
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 60px 60px;                            /*shortham*/
    text-shadow:  3px 0px 3px black;
    flex: 1;
    margin-right: 20px;
    font-size: 2.5rem;
    padding-bottom: 0px;
}



section#bordao img {
    max-width: 50%;
    height: auto;
    
}

section#bordao p {
    font-weight: 200;
    
}

/*---------------------------------seção sobre*/

section#sobre {
    background-color: white;
    color: black;
    width: auto;
    margin: auto;
    padding: 30px;
    transition: 0.4s;
    
}


section#sobre div {
    background-color: white;
    padding: 30px;
    padding-top: 0px;
    margin: auto;
    max-width: 800px;
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.326);
    border: 1px solid rgba(0, 0, 0, 0.225);
}

section#sobre h2 {
    text-align: center;
    color: var(--cor-primaria);
    padding: 10px;
    background-color: #DFE7F2;
    margin: auto;
    max-width: 800px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.326);
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.225);
}

#mim {
    width: 20px;

}

section#sobre p {
   padding: 20px;
   letter-spacing: 2px;
   font-weight: 200;
}

header .menu-toggle {
    display: none;
}

header .navbar {
    display: flex;
}

/*--------------------------------------secao projetos*/

section#projetos {
    background-color: #DFE7F2;
    padding: 30px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.326);
     
}

#divpro  {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: var(--cor-primaria);
    font-size: 1.5rem;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.326);
    border-radius: 5px;
}

#pro {
    width: 35px;
}

.quadro  {
    display: inline-block;
    background-color: white;
    width: 30%;
    margin: 14px;
    padding-bottom: 300px;
    vertical-align: top;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.326);
    border-radius: 10px;
}

.hidden {
    display: none;
}

#show-more {
    display: flex;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    color: white;
    width: 50%;
    padding: 5px;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.326);
    margin-top: 10px;
    font-weight: bold;
}

#show-more:hover {
    font-size: 1rem;
    background-color: blue;
}







/*-----------------------------------minhas midia query*/

@media (max-width: 768px) {
    body {
        overflow-x: hidden; /* Evita a rolagem horizontal */
    }

    header {
        padding: 10px;
                
    }

    header h1 {
        font-size: 1.5rem;
        padding-right: 50%;
    }

    header .navegacao-primaria {
        display: none;  /* Esconde o menu de navegação principal */
        white-space: nowrap;
        
    }

    header .menu-toggle {
        display: block; /* Exibir o menu de hambúrguer */
        position: fixed;
        padding-left: 70%;
        transition: 0.4ms;
    }

    .menu-toggle img {
        border-radius: 3px;
    }
    
    header .navbar {
        display: none; /* Ocultar o menu de navegação principal */
        background-color: rgba(255, 255, 255, 0.32); /* Cor de fundo do menu de hambúrguer */
        position: fixed;
        padding: 5px;
        margin-left: 65%;
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 255, 0.099);
        top: 50px; /* Ajuste conforme necessário */
        max-width: 30%;
        flex-direction: column; /* Para empilhar os itens verticalmente */
       
    }

    header .navbar.active {
        display: flex; /* Exibir o menu de hambúrguer quando 'active' */
    }

    header .navbar ul {
        list-style: none;
        padding: 0;
    }

    header .navbar li {
        margin: 10px 0;
    }

    header .navbar a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        transition: color 0.3s;
    }

    header .navbar a:hover {
        color: blue
    }

    .menu-toggle img {
        width: 20px;
        height: 20px;
    }

    .navegacao-primaria {
        display: none;
    }

    .navegacao-primaria.active {
        display: block;
    }
    section#bordao {
        flex-direction: column;
        text-align: center;
        padding: 60px 0px 60px 0px;
    }
    
    section#bordao div {
        font-size: 1.5rem;
    }

    section#bordao p {
        padding: 5px;
      
        
    }
   
    section#bordao img {
        display: none;
    }
    
    section#sobre div {
        padding: 20px;
       
    }

    header .navegacao-secundaria {
        display: none;           /* Esconde os links secundários */
    }

     
    .quadro {
        display: block;
        width: 90%; /* Defina a largura para ocupar toda a largura disponível */
        margin: 10 auto; /* Centralize horizontalmente */
    }

    .hidden  {
        display: none;
    }


  
}

    /*-------------------------midia query 900px*/

@media (max-width: 900px) {
    header h1 {
        font-size: 1.5rem;
    }


    section#bordao {
        flex-direction: column;
        text-align: center;
        padding: 60px 0px 80px 0px;
        font-size: 2rem;
    }   

    section#bordao p {
        padding: 5px;
            border-radius: 5px;
            
    }

    section#bordao img {
        display: none;
    }

    .quadro {
        display: block;
        width: 90%; /* Defina a largura para ocupar toda a largura disponível */
        margin: 10 auto; /* Centralize horizontalmente */
    }

}